@use "../base/variables" as *;

.footer__container {
   background: $footer-bg;
}
.footer__container ul {
    list-style: none;
    padding: 0;
}
.footer__title {
    font-weight: bold;
    font-size: 20px;
}
.footer__text {
    font-size: 17px;
    margin-bottom: 2px;
}
.footer__icon {
    font-size: 18px;
    margin-top: 1px;
}
.last__footer {
    background: $footer-other;
    width: 100%;
    padding: 3px 20rem 3px 20rem;

}
.other__content {
    flex: 30%;
}
.socials__icon {
    font-size: 34px;
}