.m {
  &__5 {
    margin: 5px;
  }
  &__10 {
    margin: 10px;
  }
  &__15 {
    margin: 15px;
  }
  &__20 {
    margin: 20px;
  }
  &__25 {
    margin: 25px;
  }
  &__50 {
    margin: 50px;
  }
}
.ms {
  &__5 {
    margin: 0 5px;
  }
  &__10 {
    margin: 0 10px;
  }
  &__25 {
    margin: 0 25px;
  }
}

.mtb {
  &__5 {
    margin: 5px 0;
  }
  &__10 {
    margin: 10px 0;
  }
  &__25 {
    margin: 25px 0;
  }
  &__50 {
    margin: 50px 0;
  }
}

.mt {
  &__5 {
    margin-top: 5px;
  }
  &__10 {
    margin-top: 10px;
  }
  &__15 {
    margin-top: 15px;
  }
  &__20 {
    margin-top: 20px;
  }
  &__25 {
    margin-top: 25px;
  }
  &__50 {
    margin-top: 50px;
  }
}

.ml {
  &__5 {
    margin-left: 5px;
  }
  &__10 {
    margin-left: 10px;
  }
  &__15 {
    margin-left: 15px;
  }
  &__20 {
    margin-left: 20px;
  }
  &__25 {
    margin-left: 25px;
  }
}

.mr {
  &__5 {
    margin-right: 5px;
  }
  &__10 {
    margin-right: 10px;
  }
  &__25 {
    margin-right: 25px;
  }

  &__50 {
    margin-right: 50px;
  }
}
.mres {
  margin: 0;
}
.mresl {
  margin-left: 0; 
}