@use "../base/variables" as *;

.jobs__container {
  min-height: 600px;
}
.job__content {
  height: 125px;
  width: 50rem;
  background: $job-content-bg;
  border-radius: 5px;
}
.logo__img {
  width: 70px;
}
.title__content {
  flex: 30%;
}
.benefits__contnet {
  margin-top: 6rem;
}
.job__title {
  font-weight: bold;
}
.advantage__title {
  position: relative;
  bottom: 1px;
}
.advantage__market {
  color: $circle-market;
}
.advantage__front {
  color: $circle-front;
}
.primary__content {
  position: relative;
  left: 205px;
  bottom: 40px;
}
.date__icon {
  margin-top: 1px;
}
.news__container {
  background: $post-bg;
  padding: 20px;
}
.news__icon {
  font-size: 28px;
}
.news__title {
  font-size: 28px;
  font-weight: bold;
}
.post__img {
  width: 250px;
}
.post__title {
  font-size: 17px;
  font-weight: bold;
}
.post__text {
  font-size: 15px;
}
.infpost__content {
  width: 250px;
}
.showmore__btn {
  width: 120px;
  height: 35px;
  border: none;
  background: $more-btn;
  color: $white;
  transition: 0.3s all;
  cursor: pointer;

  &:hover {
    background: $more-btn-hover;
  }
}