$nav-background: rgba(0, 0, 0, 0.288);

$link-color: rgb(255,255,255);

$nav-link: rgb(212, 61, 16);

$black: rgb(0,0,0);

$white: rgb(255,255,255);

$lighter-gray: rgb(235, 235, 235);

$light-gray: rgb(201, 201, 201);

$search-input: rgb(4, 5, 17);

$login-btn:rgb(128, 36, 9) ;

$login-btn-hover: rgb(230, 66, 16);

$job-content-bg: rgba(12, 71, 148, 0.123);//rgba(24, 61, 182, 0.082) rgba(0, 0, 0, 0.123)

$post-bg: rgba(12, 71, 148, 0.123);

$circle-market: rgb(214, 211, 14);

$circle-front: rgb(23, 173, 18);

$footer-bg: rgba(0, 0, 0, 0.603);

$footer-link: rgb(184, 184, 184);

$footer-other: rgba(19, 19, 19, 0.212);

$icon-ig: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);

$icon-fb: rgb(59,89,152);

$icon-tw: rgb(29,161,242);

$icon-yt: rgb(196,48,43);

$icon-ln: rgb(14,118,168);

$more-btn: rgb(3, 36, 78);

$more-btn-hover: rgb(3, 50, 110);

$input-border-error: rgb(131, 13, 13);

$forget-link: rgb(192, 192, 192);

$form-btn: rgba(4, 37, 109, 0.527);

$form-btn-hover: rgba(4, 37, 109, 0.904);

$form-bg: rgb(3, 20, 43);

$form-hr: rgb(224, 224, 224);

$newacc-link: rgb(189, 189, 189);

$eye-password: rgb(73, 73, 73);

$eye-password-hover: rgb(44, 44, 44);
//$login-btn: rgb(255,70,13);
