$nav-background: rgba(0, 0, 0, 0.288);

$link-color: rgb(255,255,255);

$nav-link: rgb(212, 61, 16);

$black: rgb(0,0,0);

$white: rgb(255,255,255);

$lighter-gray: rgb(235, 235, 235);

$light-gray: rgb(201, 201, 201);

$search-input: rgb(4, 5, 17);

$login-btn:rgb(128, 36, 9) ;

$login-btn-hover: rgb(230, 66, 16);

$job-content-bg: rgba(12, 71, 148, 0.123);//rgba(24, 61, 182, 0.082) rgba(0, 0, 0, 0.123)

$post-bg: rgba(12, 71, 148, 0.123);

$circle-market: rgb(214, 211, 14);

$circle-front: rgb(23, 173, 18);

$footer-bg: rgba(0, 0, 0, 0.603);

$footer-link: rgb(184, 184, 184);

$footer-other: rgba(19, 19, 19, 0.212);

$icon-ig: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);


//$login-btn: rgb(255,70,13);
